.calc{
    width: 320px;
    margin: 100px auto;
}
#answer{
    background-color: #e2e2e2;
    padding: 10px;
    font-size: 35px;
    width: 295px;
    height: 45px;
    text-align: right;
    border: 3px solid black;
}
.content input{
    background-color: rgb(78, 63, 63);
    height: 80px;
    width:80px;
    color:white;
    font-size: 30px;
    border: 1px solid rgb(103, 92, 92);
    float: left;
}
#cal{
    width: 160px;
    background-color: rgb(78, 63, 63);
    height: 80px;
  
    color:white;
    font-size: 30px;
    border: 1px solid rgb(103, 92, 92);
    float: left;

}
